body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Box Locations (Main Page) */

h1 {
  text-align: center;
  margin-top: 50px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

/* CARDS */
.card {
  border: lightgray 1px solid;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card > img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card > .content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > .content > h2 {
  text-align: center;
  font-size: 20px;
  padding: 0 5px 5px 5px;
}

.card > .content > h2 > a {
  text-decoration: none;
  color: black;
}

.card > .content > h2 > a:hover {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  #card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1045px) {
  #card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 710px) {
  #card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Detailed Location */
#requests {
  display: flex;
  align-items: center;
  flex-direction: column;
}


#request-table, #request-table th, #request-table td {
  border: 1px solid black;
  border-collapse: collapse;
}