<!doctype HTML>
<html>
  <head>
    <title>MHK Community Chest <%= name %></title>
    <link type="text/css" rel="stylesheet" href="/site.css">
  </head>
  <body>
    <h1>MHK Community Chest</h1>
    <div class="card-container">
      <%- boxes %> 
    </div>
    <script src="./site.js"></script>
  </body>
</html>