<!doctype HTML>
<html>
  <head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/site.css">
  </head>
  <body>
    <header>
      <% if(locals.user) { %>
        <% if(locals.user.admin === 1) { %>
          <a href="/users">Manage Users</a>
          <a href="/box-locations/create">Add Box</a>
        <% } %>
        <a href="/signout">Sign Out</a>
      <% } else { %>
        <a href="/signin">Sign In</a>
        <a href="/signup">Sign Up</a>
      <% } %>
    </header>
    
    <%- boxes %>
  </body>
</html>