<div id="new-request-form">
  <h2>New Request</h2>
  <form method="POST" action="/box-details/<%= boxId %>/requests">
    
    <input type="hidden" name="boxId" value=<%= boxId %> 
    
    <label>Request</label><br/>
    <textarea name="request" rows="5" required></textarea><br/>
    
    <input type="submit" value="Send"/>
  </form>
</div>