<div id="new-location-form">
  <h1>New Box Location</h1>
  <form method="POST" action="/box-locations/create">
    
    <label for="name">Name:</label>
    <input type="text" name="name" />

    <label for="lat">Lat:</label>
    <input type="text" name="lat" />

    <label for="lng">Lng:</label>
    <input type="text" name="lng" />
    
    <input type="submit" value="Send"/>
  </form>
</div>